main {
    display: none;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Loading animation and loading error message */

.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #00d9ff;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #006eff;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

.loading, .dashboard-error {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin: 3%;
}

.invalid-date-error {
    margin: 5%;
}

/* Dashboard Summary Section */

.summary {
    width: 90%;
    padding: 0 3% 0 0;
}

.summary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-title {
    font-size: 2.8rem;
}

.summary-neo-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#neo-count {
    display: flex;
    justify-content: center;
    font-size: 3.4rem;
    margin: 0;
    padding: 0;
}

/* Largest NEO Data */

.largest-neo-info {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: 20vw 25vw 20vw;
    grid-template-rows: 4rem 3rem 5rem;
    font-weight: bold;
    text-align: center;
    gap: 0;
    margin: 3% 0;
}

.largest-neo-info * {
    border: 1px solid #555555;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#largest-neo-title {
    grid-column-start: 1;
    grid-column-end: 4;
    color: #ffffff;
    background-color: #00285c;
    border: 2px #1177fc5b;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.largest-neo-label {
    font-size: 0.9rem;
}

.largest-neo-data {
    font-size: 1.6rem;
}

#largest-neo-bottom-left {
    border-bottom-left-radius: 25px;
}

#largest-neo-bottom-right {
    border-bottom-right-radius: 25px;
}

/* Avg Miss Distance Data */

.neo-miss-distance {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 4rem 3rem 5rem;
    font-weight: bold;
    text-align: center;
    gap: 0;
    margin: 3% 0;
}

.neo-miss-distance * {
    border: 1px solid #555555;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#neo-miss-distance-title {
    grid-column-start: 1;
    grid-column-end: 3;
    color: #ffffff;
    background-color: #00285c;
    border: 2px #1177fc5b;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.neo-miss-distance-label {
    gap: 10px;
    font-size: 0.9rem;
}

.neo-miss-distance-label * {
    border: 0;
}

.neo-miss-distance-data {
    font-size: 1.6rem;
}

#neo-miss-distance-bottom-left {
    border-bottom-left-radius: 25px;
}

#neo-miss-distance-bottom-right {
    border-bottom-right-radius: 25px;
}

/* NEO Data Table */

.neo-table {
    border-collapse: collapse;
    width: 70%;
}

.neo-table-headings {
    color: #ffffff;
    background-color: #423d46;
    border: 1px solid #423d46;
}

.neo-table-headings th {
    padding: 20px 0;
}

.neo-table-data {
    padding: 20px 25px;
    border: 1px solid #555555;
    text-align: center;
}