:root {
    background-color: #000000;
    --font-color: #ffffff;
    color: var(--font-color);
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    --navbar-color: #40595e;
    background-color: var(--navbar-color);
    width: 100%;
    padding: 1rem 0 1rem 0;
    gap: 2vw;
}

.home-button {
    text-decoration: none;
    color: var(--font-color);
    margin: 0 0.3rem 0 1.5rem;
}

.date-search {
    display: flex;
    align-items: center;
    gap: 4%;
    width: 30%
}

.search-button {
    color: var(--font-color);
    border: none;
    background-color: transparent;
}

main {
    position: relative;
    margin: 2%;
}

.ref-link {
    color: #6098ff;
    font-weight: bold;
}

.site-button {
    color: var(--font-color);
    background-color: #1163fc;
    text-decoration: none;
    font-weight: bold;
    padding: 1.5vh 0.5vw 1.5vh 0.5vw;
    width: 12%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}